body{
  box-sizing: border-box;
  font-family: 'Inria Serif', serif;
  line-height: 1.35;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 5vh 5vw;
}

@media screen and (min-width: 600px){
  body{
    font-size: 1.3em;
  }
}

.cta{
  background-color: #2ed573;
  border-radius: .25em;
  color: #fff;
  padding: .5em .75em;
  text-decoration: none;
}

a{
  color: #2ed573;
}

p{
  display: block;
  margin-top: 2em;
}

.rslides, .rslides li, .rslides li a{
  height: 100%;
  width: 100%;
}

.rslides{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rslides li a{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.rslides_nav{
  padding: .5em .35em;
  text-decoration: none;
}

@media screen and (max-width: 800px){
  .rslides{
    height: 15em;
    position: relative;
  }
}

@media screen and (min-width: 800px) and (max-width: 1150px){
  header{
    width: 40vw;
  }

  main{
    height: 70vh;
    left: 50vw;
    position: absolute;
    top: 15vh;
    width: 75vw;
  }
}

@media screen and (min-width: 1150px){
  header{
    width: 20em;
  }

  main{
    height: 70vh;
    left: 30em;
    position: absolute;
    top: 15vh;
    width: 75vw;
  }
}
