body{
  box-sizing: border-box;
  font-family: 'Inria Serif', serif;
  line-height: 1.35;
  margin: 0;
  padding: 5vh 5vw;
}

@media screen and (min-width: 600px){
  body{
    font-size: 1.4em;
  }
}

header{
  max-width: 22em;
}

.cta{
  background-color: #2ed573;
  border-radius: .25em;
  color: #fff;
  padding: .5em .75em;
  text-decoration: none;
}

a{
  color: #2ed573;
}

p{
  display: block;
  margin-top: 2em;
}
